name: Lint & Test Code

on: [push]

jobs:
  lint-test-code:
    name: Lint & Test Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Setup Just
        uses: extractions/setup-just@v3

      - name: Install Dependencies
        run: |
          just setup-python
          just setup-dev

      - name: Run Code Linting Test
        run: just lint

      - name: Run Tests
        run: |
          just test
          just coverage
